@charset "utf-8";

/******************** <main> ********************/
.m-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.m-container h4 {
	display: flex;
	justify-content: center;
	width: 100%;
}

.m-container-elem {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 100%;
}

.m-container-elem dt {
	padding: 8px 0;
}

.m-container-elem dt span {
	color: #e40414;
	font-size: 75%;
}

.m-container-elem dd {
	margin: 0;
}

.m-container-elem dd
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
	border: 2px solid #4b5456;
	padding: 4px 8px;
	width: 200px;
}

.container-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.btn {
	background-color: #fff;
	border: 2px solid #e40414;
	border-radius: 20px;
	color: #e40414;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin: 8px 0;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	transition: .4s;
  width: 50%;
}

.btn:hover {
	background-color: #e40414;
	border-color: #e40414;
	color: #fff;
}
